

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
  
    <div class="form-box">
      <div class="header-text">
        Login Form
      </div><input placeholder="Your Username" type="text"><input placeholder="Your Password" type="password"> <input id="terms" type="checkbox"> <label for="terms"></label><span>Agree with <a href="#">Terms & Conditions</a></span> <button>login</button>
    </div>
    <div class="body-text">
      <a href="{% url 'register' %}">New to the Site? Register</a>
      <a href="{% url 'home' %}">Back to dashboard</a>
      <a href="{% url 'password_reset' %}">Reset password</a>
    </div>
 
  
{% endblock %}

