{% extends "base.html" %}
 {%  load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="padding-left:15%; padding-right:15%;">
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token%}

    {% bootstrap_form form %}
    <input type="submit" name="register" value="Register">
</form>

</div>

<!-- <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css'%}">
</head>
<div class="form-group">
<form action="/register/" method="POST">
    {% csrf_token %}
  <div class="container">
    <h5>Register</h5>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <div>
        <label for="username" style="font-size: small;"><b>Username</b></label>
        {{form.username}}

    </div>
   
    <div>
        <label for="email"><b>Email</b></label>
        {{form.email}}

    </div>

    <div>
         <label for="psw"><b>Password</b></label>
    {{form.password1}}
        
    </div>
   
    <div>
         <label for="psw-repeat"><b>Repeat Password</b></label>
    {{form.password2}}
 
    </div>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <input type="submit" name="register" value="Register">
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="{% url 'login'%}">Sign in</a>.</p>
  </div>
</form>
</div>
 -->

{% endblock %}