{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}




{% block container %}
<!-- <div class="card">
    <div class="card-header">
        <h5 class="card-title">Create a New Project</h5>
    </div>
    <div>
        <a href="{% url 'upload' %}">Upload Screenshot 1</a>
        
       
    </div>
    
    <div class="card-body">
        <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" name="submit" value="Create">
        </form>
    </div>
</div> -->

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
{% endblock %}

{% endblock %}