{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}


{{project.title}}

<style>
	
	img {
		float: left;
		width: 25%;
		height: 15rem;
		
	}
</style>
<div class="container">
	<div class="row">
			<div class="column">
					<div class="card-group">
  			<div class="card">
    <img class="card-img-top" src="{{project.screenshot1.url}}" alt="Card image cap">
      
  </div>
  <div class="card">
    <img class="card-img-top" src="{{project.screenshot2.url}}" alt="Card image cap">
    
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{project.screenshot3.url}}" alt="Card image cap">
    
  </div>
  <div class="card">
    <img class="card-img-top" src="{{project.screenshot2.url}}" alt="Card image cap">
    
  </div>
</div>
	
</div>
</div>
<hr>
<div class="container">
	<div class="row">
		<div class="col">
		   <div class="card-group">
		   	<form method="post">
		     {% csrf_token %}
		   	<div class="card">
		   		  {{form.design.label}}
		   			{{form.design}}
		   		
		   	</div>
		   		<div class="card">
		   			{{form.creativity.label}}
		   			{{form.creativity}}
		   		
		   	</div>
		   		<div class="card">
		   			{{form.usability.label}}
		   			{{form.usability}}
		   		
		   	</div>
		   		<div class="card">
		   			{{form.content.label}}
		   			{{form.content}}
		   		
		   	</div>
		   	<input type="submit" name="grading" value="Submit">
			</form>
		   	</div>	
	</div>

</div>
	
</div>


<hr>
<div class="container">
	<div class="row">
		<div class="column">
			<div class="card">
				<h5 class="card-text">{{d}}</h5>
				
			</div>
			
		</div>
		
	</div>
	




</div>





{% endblock %}