{% extends 'base.html' %}
{% block content %}
{% load static %}



<style>
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
    .circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: green;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
img {
   
    float: left;
    width: 25%;
    height: 15rem;

   
}
 
}
#card {
    float:left; 
    width: 15%;
}
</style>

<div class="container">
        {% for project in projects %}
      
             <h5>Project Name: {{project.title}}</h5><i>Posted: {{project.posting_date}}</i>
         

        <div class="row">
           
                <div class="card-group">
                    <img src="{{project.screenshot.url}}" alt="Snow">
                   
                </div>

           
          </div>
                
        </div>
        <hr>
        <div>
            <a href="{% url 'grades' project.id %}"><button class="btn btn-success">Grade the Project</button></a>
             
        </div>
         <div>
            <a href="{% url 'project-delete' project.id %}"><button class="btn btn-danger">Delete</button></a>
             
        </div>
         <div>
            <a href="{% url 'project-update' project.id %}"><button class="btn btn-danger">Update</button></a>
             
        </div>
        <hr>
    <div class="container">
        <div class="row">
       <div class="column">
        <div class="card">
                <h5>Design</h5>
                <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>

                            <div class="mask half">
                                <div class="fill"></div>
                             </div>

                            <div class="inside-circle">
                             {{project.design}}
                            </div>
                        </div>
                </div>
       </div>
       </div>
    <div class="column">
        <div class="card">
                <h5>Usability</h5>
                <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>

                            <div class="mask half">
                                <div class="fill"></div>
                             </div>

                            <div class="inside-circle">
                             {{project.usability}}
                            </div>
                        </div>
                </div>
       </div>
        </div>
    <div class="column">
        <div class="card">
                <h5>Creativity</h5>
                <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>

                            <div class="mask half">
                                <div class="fill"></div>
                             </div>

                            <div class="inside-circle">
                             {{project.creativity}}
                            </div>
                        </div>
                </div>
       </div>
        </div>
    <div class="column">
        <div class="card">
                <h5>Content</h5>
                <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>

                            <div class="mask half">
                                <div class="fill"></div>
                             </div>

                            <div class="inside-circle">
                             {{project.content}}
                            </div>
                        </div>
                </div>
       </div>
 </div>
    <div class="column">
        <div class="card">
                <h5>Design</h5>
                <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>

                            <div class="mask half">
                                <div class="fill"></div>
                             </div>

                            <div class="inside-circle">
                             {{project.design}}
                            </div>
                        </div>
                </div>
       </div>
        </div>
    </div>
     </div>


    {% endfor %}
</div>

{% endblock %}