{% load bootstrap4 %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
	<title>PeerVoters</title>
</head>
<body>

<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h5>Project Review app</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                   

                        <form action="{% url 'search' %}" method="get">

                         <input name="q" type="text" placeholder="Search...">
                         <button type="submit" class="btn btn-primary">Search</button>
                        </form>
             </li>
                
            </ul>
            

            <ul class="list-unstyled components" style="color: aliceblue;">
                {% if user.is_authenticated %}
                <p><a href="{% url 'logout'%}">Logout</a></p>
                {% endif %}
                <li class="active">
                    <a href="{% url 'home'%}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profile</a>
                    
                </li>
                <li>
                    <a href="{% url 'project-list' %}">Projects</a>
                </li>
                <li>
                    <a href="{% url 'project-create'%}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Create Project</a>
                </li>
                <li>
                    <a href="#">Update Project</a>
                </li>
                <li>
                    <a href="#">Delete Project</a>
                </li>
                 
            </ul>

            <ul class="list-unstyled CTAs">
                
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>
            
        </nav>
        
        <div id="content">


        
        {% block content %}
       
        <!-- Page Content  -->
        
        
	    {% endblock %}



        </div>
        </div>
</body>


</html>

